:root {
  /* colors */
  --bg: #F7DBD8;
  --bg2: #FFFAFA;
  --text: #171717;
  --accent: #CF3C31;
  --route-normal: #CF3C31;
  --route-season: #E78ABD;
  --route-expr: #57A15C;
  --route-night: #3156A0;
  --route-comm: #6D6E71;
  --good: #009951;
  --neutral: #D17A10;
  --bad: #C00F0C;

  /* accent background should be covered up mostly by a main page container though */
  background-color: var(--accent);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
}

.enforce-font {
  font-family: "IBM Plex Sans", sans-serif;
}

h1, h2 {
  font-weight: 700;
}

h3, h4, h5, h6{
  font-weight: 600;
}

h5, h6, p {
  margin: 0;
}

h1 { font-size: 4rem; }
h2 { font-size: 2.5rem; }
h3 { font-size: 2rem; }
h4 { font-size: 1.5rem; }
h5 { font-size: 1.25rem; }
h6 { font-size: 1rem; }

h1.title { font-size: clamp(3rem, 6vw, 10rem); }
.title {
  margin-bottom: 0;
}

button {
  cursor: pointer;
}

a {
  text-decoration: underline;
}

select, input {
  font-family: "IBM Plex Sans", sans-serif;
  appearance: base-select;
}

.w-full {
  width: 100%;
}
.size-full {
  width: 100%;
  height: 100%;
}

.text-white {
  color: white;
}
.font-bold {
  font-weight: 600;
}
.font-medium {
  font-weight: 500;
}

#root {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

#main-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: safe center;

  background-color: var(--bg);

  width: 100%;
  gap: 1rem;
  padding: 0.5rem 0.5rem 1.5rem;
}

#title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: start;
  @media (width >= 40rem) {
    text-align: center;
  }
}

.rounded-card {
  border: 5px solid var(--accent);
  background-color: var(--bg2);
  border-radius: 2rem;
  padding: 1.25rem;
}

.modal-wrapper {
  display: flex;
  position: fixed;
  inset: 0;
  background-color: rgba(40, 40, 40, 0.4);
  align-items: safe center;
  justify-content: safe center;
  z-index: 100;
  overflow: auto;
}

/* delay color classes */
.text-good {
  color: var(--good);
}
.text-neutral {
  color: var(--neutral);
}
.text-bad {
  color: var(--bad);
}

/* route coloring classes */
.text-1xx {
  color: var(--route-normal);
}
.text-9xx {
  color: var(--route-expr);
}
.text-3xx {
  color: var(--route-night);
}
.text-2xx {
  color: var(--route-season);
}
.text-4xx {
  color: var(--route-community);
}

.bg-1xx {
  background-color: var(--route-normal);
}
.bg-9xx {
  background-color: var(--route-expr);
}
.bg-3xx {
  background-color: var(--route-night);
}
.bg-2xx {
  background-color: var(--route-season);
}
.bg-4xx {
  background-color: var(--route-community);
}
